body {
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
    margin: 2em;
}

h1 {
	font-size: 2.5em;
}

h1,
h2 {
  	color: cadetBlue;
    margin-bottom: 0.5em;
}

h2 {
	font-size: 1.5em;
}
label {
    display: block;
    margin-bottom: .3em;
}
select {
    margin-right: 1em;
    border: none;
    background: #e3e3e3;
    font-size: .8em;
}
.selected-product {
    float: left;
    margin-right: 2em;
}
.selected-product caption {
    text-align: left;
    color: #8b8b8b;
    padding: .5em 0;
    font-weight: bold;
    font-size: 1.2em;
}
.selected-product td {
    background: #bfd8d9;
    padding: .5em;
}
.comparison-row {
    margin-bottom: 2em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}