<!DOCTYPE html>
<html>
	<head>
		<title>Compare Products</title>
		<link rel="stylesheet" href="css/styles.css">
        <script src="js/angular.min.js"></script>
	</head>
	<body data-ng-app="compareApp" data-ng-controller="CompareCtrl" data-ng-cloak>
		<header>
			<h1>Compare Products</h1>
		</header>
		<section class="products-comparison">
            <div class="comparison-row">
    			<label for="number-of-selects">Please select the number of products to compare:</label>
    			<select name="number-of-selects" data-ng-model="selectsNumber" data-ng-options="select for select in selectsOptions" data-ng-change="createSelects()">
    				<option value="" data-ng-disabled="!!selectsNumber">-Please choose-</option>
    			</select>
            </div>
            <div class="comparison-row" data-ng-show="!!selectsNumber">
    			<label>Select products to compare:</label>
    			<select data-ng-repeat="select in rendered" data-ng-model="selected" data-ng-options="product.name for product in select.data" data-ng-change="selectProduct($index, selected)">
    				<option value="" data-ng-disabled="!!selected">-Please choose-</option>
    			</select>
            </div>
			<div class="product-results" data-ng-show="hasSelectedProducts()">
				<h2>Results</h2>
        		<table class="selected-product" ng-repeat="(key, value) in selectedProducts">
                    <caption>{{value.name}}</caption>
                    <tbody>
                        <tr>
                            <td>Size</td>
                            <td>{{value.size}}</td>
                        </tr>
                        <tr>
                            <td>Colour</td>
                            <td>{{value.color}}</td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</section>        
        <script src="js/scripts.js"></script>
	</body>
</html>